@model Price_Configurator.ViewModels.Manage.NavBarViewModel
@{
    ViewBag.Title = "Home Index";
}
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Configurator", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @foreach (var item in Model.ProductCategories)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @item.Name
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                            @{
                                var modelList = Model.ProductModels.Where(m => m.ProductCategoryId == item.Id).ToList();
                                if (Model.ProductCategories.Any())
                                {
                                    foreach (var modelItem in modelList)
                                    {
                                        <li>@Html.ActionLink(@modelItem.Name, "Index", "DisplayProduct", routeValues: new {id = modelItem.Id}, htmlAttributes: new {title = "Products"})</li>
                                    }
                                }
                            }
                        </ul>
                    </li>
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-4">
            <p class="Leader">History of Meyer Manufacturing</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="https://media.licdn.com/mpr/mpr/AAEAAQAAAAAAAAfOAAAAJDM5MTRmNzVlLTUzNmYtNDgzMy1hYmYxLWZiNThiYWFjYjAzZQ.jpg" class="img-responsive" alt="my wife and I">
            <br>
        </div>
        <div class="col-md-8">
            <p>Meyer Manufacturing Corporation (then known as Meyer's Machine Shop) was founded in 1944 by Alvin Meyer in Dorchester, Wisconsin. The original business was founded upon equipment repairs and the manufacturing of Snow Plows, Farm Wagons, Grain Elevators, Truck Racks, Forklifts and Mobile Homes. In 1951, Mr. Meyer patented a False-Gate Forage Box which was later redesigned into what is believed to be the first Self-Unloading Forage Box ever built, the M100.In 1962, and shortly after, Alvin's Sons Don and Larry, and daughter Judy, joined the business as Forage Boxes and the Super Spreader Line of Waste Spreaders were developed.



From its humble beginning as a Machine Shop, Meyer Manufacturing has continued to expand its facilities implementing the latest technologies into its superior product designs. Today, Meyer Equipment is seen throughout the United States, Canada, Central America, Europe, Australia, Russia and Japan. Emphasis on customer satisfaction and commitment to product quality and advancement assure you of maximum productivity from its products. Meyer prides itself on tailoring products to meet the needs of all sized operations, farm and industrial.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-4">
            <p class="Leader">Price Quote Process</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-4">
            <ul>
                <li><p>- Select A Product Category</p></li>
                <li><p>- Select A Product Model</p></li>
                <li><p>- Select A Product</p></li>
                <li><p>- Select Optional Product Equipment</p></li>
                <li><p>- Get Price Quote</p></li>
                <li><p>- Submit Price Quote For Review</p></li>
            </ul>
        </div>
    </div>
</div>