@using System.Web.UI.WebControls
@model Price_Configurator.ViewModels.EquipmentViewModel
@{
    ViewBag.Title = "Add Equipment";
}


@using (Html.BeginForm("AddEquipment", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <br />
    <form class="form-horizontal">
        <fieldset>
            <legend>Add Equipment</legend>
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Name,
            new
            {
                @class = "form-control",
            })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Description,
            new
            {
                @class = "form-control",
            })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ListPrice, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.ListPrice, "",
            new
            {
                @class = "form-control"
            })
                    @Html.ValidationMessageFor(m => m.ListPrice)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.EquipmentTypeId, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.EquipmentTypeId,
            new SelectList(Model.EquipmentTypes, "Id", "Name"),
            "",
            new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.EquipmentTypeId)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PictureUrl, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.PictureUrl,
            new
            {
                @class = "form-control",
            })
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
    <br />

    <p>@Html.ActionLink("Back to Equipment.", "Equipment", "Manage")</p>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}