@model Price_Configurator.ViewModels.EquipmentRuleViewModel
@{
    ViewBag.Title = "Add Equipment Rule";
}

@using (Html.BeginForm("AddEquipmentRules", "Manage", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
{
    @Html.AntiForgeryToken()

    <br/>
    <form class="form-horizontal">
        <fieldset>
            <legend>Add Equipment Rule</legend>
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new {@class = "col-md-2 control-label"})
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Name,
                        new
                        {
                            @class = "form-control",
                        })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ParentEquipmentId, new {@class = "col-md-2 control-label"})
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.ParentEquipmentId,
                        new SelectList(Model.ParentEquipment, "Id", "Name"),
                        "",
                        new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.ParentEquipmentId)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ChildEquipmentId, new {@class = "col-md-2 control-label"})
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.ChildEquipmentId,
                        new SelectList(Model.ChildEquipment, "Id", "Name"),
                        "",
                        new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.ChildEquipmentId)
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-danger">Clear</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </fieldset>
    </form>
    <br/>

    <a href="@Url.Action("EquipmentRules", "Manage")" class="btn btn-default">Back</a>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}