@model Price_Configurator.ViewModels.ProductEquipmentViewModel
@{
    ViewBag.Title = "Add Product Equipment";
}

@using (Html.BeginForm("AddProductEquipment", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <br />
        <form class="form-horizontal">
            <fieldset>
                <legend>Add Equipment to Product</legend>
                <div class="form-group">
                    @Html.LabelFor(m => m.ProductId, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.DropDownListFor(m => m.ProductId,
                            new SelectList(Model.Products, "Id", "Name"),
                            "",
                            new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ProductId)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.EquipmentId, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.DropDownListFor(m => m.EquipmentId,
                            new SelectList(Model.Equipments, "Id", "Name"),
                            "",
                            new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.EquipmentId)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
        <br />

        <p>@Html.ActionLink("Back to Product Equipment.", "ProductsEquipment", "Manage")</p>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}