@model Price_Configurator.ViewModels.EquipmentViewModel
@{
    ViewBag.Title = "Manage Equipment";
}

<h2 class="text-center">Manage Equipment</h2>

<div class="span12">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>List Price</th>
            <th>Type</th>
            <th>Picture Url</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var role in Model.CurrentEquipment)
        {
            <tr>
                <td>@role.Name</td>
                <td>@role.Description</td>
                <td>$@role.ListPrice</td>
                <td>@role.EquipmentType.Name</td>
                <td>@role.PictureUrl</td>
                <td class="btn-group pull-right">
                    <a href="@Url.Action("EditEquipment", "Manage", new { id = role.Id })" class="btn btn-warning">Edit</a>
                    <a href="@Url.Action("DeleteEquipment", "Manage", new { id = role.Id })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>

    <div class="text-center">
        <a href="@Url.Action("Index", "Manage")" class="btn btn-default">Back</a>
        <a href="@Url.Action("AddEquipment", "Manage")" class="btn btn-primary">Create</a>
    </div>

</div>