@model Price_Configurator.ViewModels.EquipmentViewModel
@{
    ViewBag.Title = "Manage Equipment";
}

<h2 class="text-center">Manage Equipment</h2>

<div class="span12">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Add A New Equipment</th>                
                <th><a href="@Url.Action("AddEquipment", "Manage")" class="btn btn-primary">Add</a></th>
            </tr>
        </thead>
    </table>
    <br />
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>List Price</th>
                <th>Type</th>
                <th>Picture Url</th>
                <th>Edit</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model.CurrentEquipment)
            {
                <tr>
                    <td>@role.Name</td>
                    <td>@role.Description</td>
                    <td>@role.ListPriceId</td>
                    <td>@role.EquipmentTypeId</td>
                    <td>@role.PictureUrl</td>
                    <td><button class="btn-warning btn">Edit</button></td>
                    <td><button class="btn-danger btn">Remove</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<p>@Html.ActionLink("Back to manager.", "Index", "Manage")</p>