@model Price_Configurator.ViewModels.EquipmentRuleViewModel
@{
    ViewBag.Title = "Manage Equipment Rules";
}

<h2 class="text-center">Manage Equipment Rules</h2>

<div class="span12">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Add A New Equipment Rule</th>
                <th><a href="@Url.Action("AddEquipmentRules", "Manage")" class="btn btn-primary">Add</a></th>
            </tr>
        </thead>
    </table>
    <br />
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Parent</th>
                <th>Child</th>
                <th>Edit</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model.CurrentEquipmentRules)
            {
                <tr>
                    <td>@role.Name</td>
                    <td>@role.ParentEquipmentId</td>
                    <td>@role.ChildEquipmentId</td>
                    <td><button class="btn-warning btn">Edit</button></td>
                    <td><button class="btn-danger btn">Remove</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<p>@Html.ActionLink("Back to manager.", "Index", "Manage")</p>