@model Price_Configurator.ViewModels.EquipmentRuleViewModel
@{
    ViewBag.Title = "Manage Equipment Rules";
}

<h2 class="text-center">Manage Equipment Rules</h2>

<div class="span12">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Parent</th>
            <th>Child</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var role in Model.CurrentEquipmentRules)
        {
            <tr>
                <td>@role.Name</td>
                <td>@role.ParentEquipment.Name</td>
                <td>@role.ChildEquipment.Name</td>
                <td class="btn-group pull-right">
                    <a href="#" class="btn btn-warning">Edit</a>
                    <a href="#" class="btn btn-danger">Remove</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    
    <div class="text-center">
        <a href="@Url.Action("Index", "Manage")" class="btn btn-default">Back</a>
        <a href="@Url.Action("AddEquipmentRules", "Manage")" class="btn btn-primary">Create</a>
    </div>
</div>