@model Price_Configurator.ViewModels.Manage.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [ @(Model.HasPassword ? Html.ActionLink("Change your password", "ChangePassword") : Html.ActionLink("Create", "SetPassword")) ]
        </dd>
        @if (ViewBag.displayMenu == "Yes")
        {
            <dt>User Roles:</dt>
            <dd>[ @Html.ActionLink("Manage Role", "Roles", "Manage") ]</dd>
            <dt>Products:</dt>
            <dd>[ @Html.ActionLink("Manage Product", "Index", "Product") ]</dd>
            <dt>Equipment:</dt>
            <dd>[ @Html.ActionLink("Manage Equipment", "Index", "Equipment") ]</dd>
            <dt>Equipment Rules:</dt>
            <dd>[ @Html.ActionLink("Manage Equipment Rules", "Index", "EquipmentRule") ]</dd>
            <dt>Product Categories:</dt>
            <dd>[ @Html.ActionLink("Manage Product Category", "Index", "ProductCategory") ]</dd>
            <dt>Product Models:</dt>
            <dd>[ @Html.ActionLink("Manage Product Model", "ProductModels", "Manage") ]</dd>
        }

    </dl>
</div>
