@model Price_Configurator.ViewModels.Manage.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>Manager</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [ @(Model.HasPassword ? Html.ActionLink("Change your password", "ChangePassword") : Html.ActionLink("Create", "SetPassword")) ]
        </dd>
        @if (ViewBag.displayMenu == "Yes")
        {
            <br />
            <h4>Role Management</h4>
            <dt>Roles:</dt>
            <dd>[ @Html.ActionLink("Manage Roles", "Roles", "Manage") ]</dd>

            <br />
            <h4>User Management</h4>
            <dt>Users:</dt>
            <dd>[ @Html.ActionLink("Manage User Roles", "UserRoles", "Manage") ]</dd>

            <br />
            <h4>Product Management</h4>
            <dt>Products:</dt>
            <dd>[ @Html.ActionLink("Manage Product", "Products", "Manage") ]</dd>
            <dt>Categories:</dt>
            <dd>[ @Html.ActionLink("Manage Product Categories", "ProductCategories", "Manage") ]</dd>
            <dt>Models:</dt>
            <dd>[ @Html.ActionLink("Manage Product Models", "ProductModels", "Manage") ]</dd>
            <dt>Rules:</dt>
            <dd>[ @Html.ActionLink("Manage Product Equipment Rules", "ProductEquipmentRules", "Manage") ]</dd>
            <dt>Equipment Options:</dt>
            <dd>[ @Html.ActionLink("Manage Products Equipment Options", "ProductsEquipment", "Manage") ]</dd>

            <br />
            <h4>Equipment Management</h4>
            <dt>Equipment:</dt>
            <dd>[ @Html.ActionLink("Manage Equipment", "Equipment", "Manage") ]</dd>
            <dt>Groups:</dt>
            <dd>[ @Html.ActionLink("Manage Equipment Groups", "EquipmentGroups", "Manage") ]</dd>
            <dt>Types:</dt>
            <dd>[ @Html.ActionLink("Manage Equipment Types", "EquipmentTypes", "Manage") ]</dd>
            <dt>Rules:</dt>
            <dd>[ @Html.ActionLink("Manage Equipment Rules", "EquipmentRules", "Manage") ]</dd>
        }
    </dl>

</div>
