@model Price_Configurator.ViewModels.Manage.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>Manager</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [ @(Model.HasPassword ? Html.ActionLink("Change your password", "ChangePassword") : Html.ActionLink("Create", "SetPassword")) ]
        </dd>
        @if (ViewBag.displayMenu == "Yes")
        {
            <dt>User Roles:</dt>
            <dd>[ @Html.ActionLink("Manage User Roles", "Roles", "Manage") ]</dd>
            <dt>Product Categories:</dt>
            <dd>[ @Html.ActionLink("Manage Product Categories", "ProductCategories", "Manage") ]</dd>
            <dt>Product Models:</dt>
            <dd>[ @Html.ActionLink("Manage Product Models", "ProductModels", "Manage") ]</dd>
            <dt>Products:</dt>
            <dd>[ @Html.ActionLink("Manage Product", "Products", "Manage") ]</dd>
            <dt>Equipment Groups:</dt>
            <dd>[ @Html.ActionLink("Manage Equipment Groups", "EquipmentGroups", "Manage") ]</dd>
            <dt>Equipment Types:</dt>
            <dd>[ @Html.ActionLink("Manage Equipment Types", "EquipmentTypes", "Manage") ]</dd>
            <dt>Equipment:</dt>
            <dd>[ @Html.ActionLink("Manage Equipment", "Equipment", "Manage") ]</dd>
            <dt>Products Equipment:</dt>
            <dd>[ @Html.ActionLink("Manage Products Equipment", "ProductsEquipment", "Manage") ]</dd>
            <dt>Equipment Rules:</dt>
            <dd>[ @Html.ActionLink("Manage Equipment Rules", "EquipmentRules", "Manage") ]</dd>
            <dt>Product Rules:</dt>
            <dd>[ @Html.ActionLink("Manage Product Equipment Rules", "ProductEquipmentRules", "Manage") ]</dd>
        }
    </dl>
</div>
