@model Price_Configurator.ViewModels.ProductCategoryViewModel
@{
    ViewBag.Title = "Manage Product Categories";
}

<h2 class="text-center">Manage Product Categories</h2>

<div class="span12">

    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>Category</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var role in Model.ProductCategories)
        {
            <tr>
                <td>@role.Name</td>
                <td class="btn-group pull-right">
                    <a href="@Url.Action("EditProductCategory", "Manage", new { id = role.Id })" class="btn btn-warning">Edit</a>
                    <a href="@Url.Action("DeleteProductCategory", "Manage", new { id = role.Id })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>

    <div class="text-center">
        <a href="@Url.Action("Index", "Manage")" class="btn btn-default">Back</a>
        <a href="@Url.Action("AddProductCategory", "Manage")" class="btn btn-primary">Create</a>
    </div>
</div>